.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.navbar img {
    width: 100px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    transition: 0.5s;
}

.nav-menu li {
    position: relative;
    cursor: pointer;
}

.nav-menu li::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.nav-menu li:hover::after {
    width: 100%;
}


.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: #ff004f;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
}
.nav-mob-open {
    display: none;
}

@media(max-width: 768px) {
    .navbar {
        margin: 20px 50px;
    }

    .navbar img {
        width: 30px;
        cursor: pointer;
    }
    

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 280px;
        width: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu li {
        font-size: 20px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}